logs/*
logsBackup/*
TelegramAPI/tests/debug_webhook/update.json
DBCredentials/*.ini
DBCredentials/SSL
DB_schema/*.ini
tools/data/
lib/Tracer/FileTracerConfig.ini
lib/Tracer/YardTracerConfig.ini

*.swp
